body {
    background: black;
    justify-content: center;
    align-items: center;
    display: flex; }
.postinstagram {
    width: 430px;
    height: 595px;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif }
.postcard-header {
    display: flex; }
.FourWheels {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border-style: solid;
    margin: 5px; }
.check {
    width: 15px;
    height: 15px;
    margin: 10px 0 0 0; }
.postcard-header h1 {
    font-size: 12px;
    margin: 10px 0 0 0; }
.postcard-header h2 {
    font-size: 9px;
    margin-top: 0;
    font-weight: lighter;}

.fa-ellipsis-v {
    font-size: 30px;
    margin: 10px 0 0 275px ;
    align-items: stretch;
    justify-content: center;}

.first {
    width: 430px;
    height: 295px;}

.postcard-body-two {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;}

.fa-heart {
color: red ; 
}

.postcard-footer span {
    font-weight: bold;}

.postcard-footer {
    font-size: 12px;
    margin: 1em;
    text-align: justify;}
.postcard-footer h3{
    font-size: 11px;
    text-align: center;
    color: blue;`
    margin 1px
}
.postcard-footer h4, h5 {
    font-size: 10px;
    margin: 0;
}
.postcard-footer h4{
    opacity: 0.5;
}